QPushButton:!hover{
    font-family: Î¢ÈíÑÅºÚ;
     font-size: 14px;
     border: 1px solid #0e88eb;
     border-radius: 2px;
     background-color: #ffffff;
     color: #0e88eb;
     width: 70px;
     height: 26px;   
}

QPushButton:hover{
    font-family: Î¢ÈíÑÅºÚ;
     font-size: 14px;
     border: 1px solid #0d80de;
     border-radius: 2px;
     background-color: #0d80de;
     color: #ffffff;
     width: 70px;
     height: 26px;    
}